:root {
  --primary-text: #0c1421;
  --secondary-text: #313957;
  --link: #1e4ae9;
  --bg: #ffffff;
  --accent: #8897ad;
  --accent-1: #cfdfe2;
  --accent-2: #d4d7e3;
  --accent-3: #f3f7fb;
  --accent-4: #f3f9fa;
  --accent-5: #f7fbff;
  --accent-6: #162d3a;
  --accent-7: #1877f2;

  --roboto: Roboto, "Segou UI", sans-serif;

  letter-spacing: 0.18px;
  color: var(--secondary-text);
  background: var(--bg);
  font: 1rem var(--roboto);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(1.5rem, calc(1.227rem + 1.364vw), 2.25rem);
  color: var(--primary-text);
}

a {
  text-decoration: none;
}
